# Everything not scipy related goes here

# not freezing versions, because we consider it a 'rolling release'
# versions can be frozen in user's own requirements

# Main
Pillow

# Web
requests
Flask
beautifulsoup4

# SQL
SQLAlchemy
GeoAlchemy2
psycopg2-binary

# Random cool stuff
pymars

# AWS
boto3
